.Dialog-dialog-v7sfp{position:relative;z-index:1;border-radius:2px;box-sizing:border-box;background:#fff;pointer-events:auto}.Dialog-container-7t3QC{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;position:fixed;z-index:900;top:0;left:0;right:0;bottom:0;pointer-events:none}
.Backdrop-backdrop-3sn1F{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);pointer-events:auto}
.Bubble-content-fdv1v{position:relative}.Bubble-borderArrow-ipMpJ,.Bubble-colorArrow-ns4iK{position:absolute;width:0;height:0;border:solid transparent}.Bubble-top-5e9eY{left:50%;top:0;-webkit-transform:translateX(-50%) translateY(-100%);transform:translateX(-50%) translateY(-100%);border-top:none}.Bubble-right-qc7n9{top:50%;left:100%;-webkit-transform:translateY(-50%);transform:translateY(-50%);border-right:none}.Bubble-bottom-tZ7wr{top:100%;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);border-bottom:none}.Bubble-left-shwU5{top:50%;left:0;-webkit-transform:translateX(-100%) translateY(-50%);transform:translateX(-100%) translateY(-50%);border-left:none}
.Toast-root-rdUwj{display:table;position:fixed;left:50%;bottom:50%;padding:20px;max-width:320px;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%);border-radius:10px;z-index:1000;text-align:center;font-size:16px;font-weight:500;background-color:#f6f6f6}html[data-theme=dark] .Toast-root-rdUwj{background-color:#000}.Toast-root-rdUwj{color:#646464}html[data-theme=dark] .Toast-root-rdUwj{color:#999}
.Popover-popover-jFHwe{position:absolute;z-index:99}.Popover-content-fGkPm{box-shadow:0 5px 20px rgba(0,34,77,.1)}

/*# sourceMappingURL=vendors.9929bff4deda11dca6eb.css.map*/